


@{
    ViewBag.Title = "Course_doubts";
}

<link href="../../Styles/Course_doubts.css" type="text/css" rel="stylesheet" />

<script type="text/javascript">
        function exibe(el) {

            var display = document.getElementById(el).style.display;
            if (display == "none")
                document.getElementById(el).style.display = 'block';
            else
                document.getElementById(el).style.display = 'none';
        }
</script>

@model MSALConnect.Models.Doubt

@using (Html.BeginForm())
{
    <div class="newDoub">
        <div class="form-horizontal">
            <h1>Doubt</h1>
            <hr />
          
            <div class="form-group">
                <p>Question</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.question, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.question, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
               <p>Content</p>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.content, new { htmlAttributes = new { @class = "form-control", rows = "300", cols = "300" } })
                   <p1> @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })</p1>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




@foreach (var doubt in ViewBag.Doubts)
{
         <div class="contentDoubts">

             <p class="getCorsesP"> @Html.ActionLink((string)doubt.question, "Index", "Answer", new { id = @doubt.doubtID, Course_id = @ViewBag.Course_id }, null)</p>
               
                 <div>@doubt.content</div>


            
             <p class="response"><a onclick="exibe('@doubt.doubtID')" href="#">Respoder</a></p>
             <div id="@doubt.doubtID" style="display: none">
                 
                 @using (Html.BeginForm("CreateAnswer", "Answer", FormMethod.Post, new {enctype = "multipart/form-data"}))
                 {
                     <input type="hidden" name="view" value="0"/>
                     <input type="hidden" name="Course_id" value="@ViewBag.Course_id"/>
                     <input type="hidden" name="id" value="@doubt.doubtID"/>
                     <input type="hidden" name="enctype" value="multipart/form-data"/>
                     <input name="content" id="content" type="textarea"/>
                     <input id="file" type="file" name="file"/>
                     <input id="submit" type="submit" value="Submeter"/>
                 }


             </div>
            

            

             </div>



}




    