@{
    ViewBag.Title = "Course_doubts";
    var courseId = @ViewBag.Course_id;
    Session["getCoursesState"] = @courseId;
}

<link href="../../Styles/Course_doubts.css" type="text/css" rel="stylesheet" />
<link href="../../Styles/General.css" type="text/css" rel="stylesheet" />

@model MSALConnect.Models.Doubt
<div class="contain">
    <h2>Dúvidas</h2>
    <div class="border width95">
        @using (Html.BeginForm("CreateDoubt", "Doubt", FormMethod.Post))
        {
            <h4>Adicionar uma nova Dúvida:</h4>
            <br>
            <h5>Question:</h5>
            <input type="hidden" name="id" value="@ViewBag.Course_id" />
            <input size="90" name="question" id="question" placeholder="escreva aqui a sua dúvida" type="text" />
            <h5>Conteúdo:</h5>
            <textarea cols="90" name="content" id="content" type="textarea"></textarea>
            <input id="submit" type="submit" value="Create" />      
        }
    </div>
    <br>
    <hr />
    <br>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    @foreach (var doubt in ViewBag.Doubts)
    {
        <div class="border width95">

            <h4> @Html.ActionLink((string) doubt.question, "Index", "Answer", new {id = @doubt.doubtID, Course_id = @ViewBag.Course_id}, null)</h4>

            <p>@doubt.content</p>

        </div>
    }
</div>



