@using System.Collections
@using System.Diagnostics.PerformanceData
@using System.Runtime.CompilerServices
@using MSALConnect.Models
<head>
    <link href="../../Styles/getCourses.css" type="text/css" rel="stylesheet" />
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    <script type="text/javascript">
        function exibe(el) {

            var display = document.getElementById(el).style.display;
            if (display == "none")
                document.getElementById(el).style.display = 'block';
            else
                document.getElementById(el).style.display = 'none';
        }

        function checkState() {
            document.getElementById('@Session["getCoursesState"]').style.display = "block";
        }

    </Script>
</head>

@{
    ViewBag.Title = "getCourses";
}
<body onload="checkState();">
    
    @{
        int x = 0;
        ViewBag.Title = "GetCourses";
        List<Course> courses = new List<Course>() ;

        string elementsNumber = Session["Count"].ToString();
        int j = int.Parse(elementsNumber);


        for (int i = 1; i<=j; i++)
        {
            Course course = new Course();
            course.name = Session["courseName" + i].ToString();
            var id = Session["courseId" + i].ToString();
            course.id = int.Parse(id);
            courses.Add(course);
        }
        <div class="navbarLeft">
            <ul class = "getCorsesUl">
                @foreach (var course in courses)
                {
                    string courseName = @course.name;
                    var courseId = @course.id;
                    <li>
                        <a onclick="exibe('@courseId')" href="#">@courseName</a>
                       
                        <div id="@courseId" style="display: none">
                            <ul>
                                <li class="getCorsesLi">
                                    <p class="getCorsesP"> @Html.ActionLink("Dúvidas da disciplina", "Course_Doubts", "Doubt", new {id = @course.id}, null)</p></li>
                                <li class="getCorsesLi">
                                    <p class="getCorsesP"> @Html.ActionLink("Projetos da Disciplina", "Course_Projects", "Projects", new {id = @course.id}, null)</p></li>
                            </ul>


                        </div>
                    </li>

                }
            </ul>
        </div>

    }
</body>