@using System.Diagnostics.PerformanceData
@using MSALConnect.App_GlobalResources
@using MSALConnect.Models
@using Resources


<h2>Feed de noticias</h2>

<p>quis noticias</p>
<link href="../../Styles/General.css" type="text/css" rel="stylesheet" />
<link href="../../Styles/Home.css" type="text/css" rel="stylesheet" />



    @foreach (var doubt in ViewBag.Doubts)
    {
        <div class="contain">
            <div class="border width95">
                
                <h4> @Html.ActionLink((string)doubt.question, "Index", "Answer", new { id = @doubt.doubtID, Course_id = @doubt.course.id }, null)</h4>
               
                <h5>@doubt.content</h5>
                <h4 style="text-align:right"> @Html.ActionLink("Consultar Respostas", "Index", "Answer", new { id = @doubt.doubtID, Course_id = @doubt.course.id }, null)</h4> 
            </div>

        </div>
    }